In [1]:
#from here https://www.kaggle.com/c/intel-mobileodt-cervical-cancer-screening/discussion/31565
import cervical_utils

In [4]:
cd /mnt/kaggle_crevical/

/mnt/kaggle_crevical

In [5]:
ls

Bach10.zip                additional_Type_3_v2.7z  results/
Type_1/                   first_cerv_sub           sample_submission.csv
Type_1_bbox.tsv           fixed_labels_v2.csv      shrunk_files/
Type_2/                   rectangles_1.csv         test/
Type_2_bboxes.tsv         rectangles_2.csv         thin_dataset/
Type_3/                   rectangles_3.csv         train/
Type_3_bbox.tsv           removed_files.csv        vgg_ft_cerv_sub
additional_Type_1_v2.7z   res_clipped_cerv_sub
additional_Type_2_v2_.7z  resnet_cerv_sub

In [10]:
df1=pd.read_table('Type_1_bbox.tsv',sep=' ',header=None)

In [18]:
df1.head()

              name  type    x     y  width  height
0     Type_1\0.jpg     2  882   961   1042    1106
1    Type_1\10.jpg     1  972  2349   1052     715
2  Type_1\1013.jpg     1  606  1437    774     825
3  Type_1\1014.jpg     1  930  1090   1310    1384
4  Type_1\1019.jpg     1  620  1304    982    1168

In [16]:
df1=df1.drop(df1.columns[[6,7,8,9]], axis=1)

In [17]:
df1.columns=['name','type','x','y', 'width' , 'height']